# This line is comment line. git will ignore this line.

# Below 2 files will not be uploaded to github if you push
.DS_Store
passwords.txt


# All the files having extension of .xlsx will not be uploaded to github if you push the folder
*.xlsx
